@model Category
<h2 class="text-primary">Delete Categories</h2>
<form asp-action="Delete" method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" disabled/>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" disabled/>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
    </div>

</form>